body {
  display: flex;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.qrCard {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font: 15px "Outfit";
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.qrCard__code {
  max-width: 100%;
  border-radius: 10px;
}

.qrCard__content {
  width: fit-content;
  padding: 10px;
}

.qrCard__header {
  color: hsl(218, 44%, 22%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
